/* 版心的公共类 */
.w{
    width: 1190px;
    margin: 0 auto;
}
/* 浮动公共类 */
.fl{
    float: left;
}
.fr{
    float: right;
}
a{
    text-decoration: none;
    font-size: 12px;
    color: #999;
}
a:hover{
    color: #f10215;
}
ul,h1,input,p,button,dd,dl,form,h2,h3,h4,h5,h5,hr,li,ol,td,th{
    margin: 0;
    padding: 0;
}
input,button{
    border: 0;
    outline: none;
}
ul{
    list-style: none;
}
body{
    background-color: #f6f6f6;
}
.f10{
    color: #f10215 !important;
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot');
    src:  url('fonts/icomoon.eot?wk37q3#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?wk37q3') format('truetype'),
      url('../fonts/icomoon.woff?wk37q3') format('woff'),
      url('../fonts/icomoon.svg?wk37q3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
/* header部分 */
header{
    height: 80px;
    background-color: #020000;
}
/*  快速导航栏部分 begin  */
.shortcut{
    background-color: #e3e4e5;
    height: 30px;
    border: 1px solid #ddd;
    font-size: 12px;
    color: #999999;
    line-height: 30px;
}
.city{
    margin-left: 200px;
}
.shortcut li{
    float: left;
}
.shortcut i{
    font-family: icomoon;
    font-style: normal;
    color: #ccc;
}
/* 小竖线! */
.space{
    width: 1px;
    height: 10px;
    background-color: #ccc;
    /* 上为10 左右为12 下为0 */
    margin: 10px 12px 0;
}
.mobile{
    position: relative;
}
.mobile img{
    position: absolute;
    left: -3px;
    top: 23px;
    border: 1px solid #ccc;
    padding: 3px;
}
/*  快速导航栏部分 over  */

/*  中间部分 begin */
.middle{
    height: 140px;
    /* background-color: pink; */
    position: relative;
}
.logo{
    position: absolute;
    top: -32px;
    left: 0;
    box-shadow: 0px -10px 10px rgba(0, 0, 0, .3);
}
.logo a{
    display: block;
    background: #fff url("../img/logo.v3.jpg") no-repeat ;
    width: 190px;
    height: 170px;
}
/* 搜索框! */
.form{
    width: 550px;
    height: 35px;
    /* background-color: pink; */
    position: absolute;
    top: 25px;
    left: 320px;
}
.form input{
    width: 495px;
    height: 33px;
    /* background-color: skyblue; */
    border: 1px solid #f10215;
    float: left;
    font-size: 14px;
    padding-left: 3px;
}
.form button{
    width: 50px;
    height: 35px;
    background-color: #f10215;
    float: left;
}
.form button i{
    font-family: 'icomoon';
    font-style: normal;
    color: #fff;
}
/* 购物车 */
.shopCar{
    width: 188px;
    height: 33px;
    border: 1px solid #ccc;
    background-color: antiquewhite;
    position: absolute;
    top: 25px;
    right: 95px;
    background-color: #fff;
    line-height: 33px;
    text-align: center;
    color: #f10215;
}
.shopCar i{
    font-family: icomoon;
    font-style: normal;
    margin-right: 5px;
}
.shopCar span{
    width: 15px;
    height: 15px;
    background-color: #f10215;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 30px;
    font-style: 12px;
    color: #fff;
    line-height: 15px;
}
/* 关键词模块 */
.words{
    position: absolute;
    top: 68px;
    left: 320px;
}
.words a{
    margin-right: 10px;
}
/* 小导航木块 */
.nav{
    width: 770px;
    height: 40px;
    /* background-color: aqua; */
    position: absolute;
    bottom: 0;
    left: 260px;
    line-height: 40px;
}
.nav li{
    float: left;
    margin-left: 30px;
}
.nav li a{
    font-size: 16px;
    font-weight: 700;
    color: #555;
}
.nav li a:hover{
    color: #f10215;
}
.nav .space{
    /* margin-top: 15px;
    margin-left: 15px;
    margin-right: -15px; */
    margin: 15px -15px 0 15px;
}
/* 超级日 */
.super{
    position: absolute;
    bottom: 10px;
    right: 20px;

}
/*  中间部分 over */
/* <!-- @头部全部完成 --> */

/* 页面低部分 begin */
footer{
    margin-top: 35px;
    height: 500px;
    background-color: #eaeaea;
}
.service{
    padding: 30px 0;
    border-bottom: 1px solid #dedede;
    overflow: hidden;
}
.service ul li{
    width: 297px;
    height: 43px;
    /* background-color: aquamarine; */
    position: relative;
    float: left;
}
.service li h5{
    position: absolute;
    top: 0;
    left: 38px;
    width: 36px;
    height: 43px;
    /* background-color: #ccc; */
    background: url("../img/ico.png") no-repeat;
}
.service li:nth-child(2) h5{
    background: url("../img/ico2.png") no-repeat;
}
.service li p{
    font-weight: 700;
    margin-left: 82px;
    line-height: 43px;
}

/* 帮助模块! */
.help{
    height: 200px;
    border-bottom: 1px solid #dedede;
    padding-top: 25px;
    box-sizing: border-box;
}
.help dl{
    width: 192px;
    float: left;
}
.help dt,
.coverage h5{
    height: 30px;
    font-size: 14px;
    color: #666;
}
.help dd{
    height: 22px;
}
/* 范围 */
.coverage{
    width: 200px;
    height: 150px;
    background: url("../img/china.png") no-repeat;
}


/* 页面底部分 over */
.coverage h5{
    text-align: center;
}
.coverage p{
    font-size: 12px;
    color: #666;
    line-height: 18px;
    width: 180px;
}
.coverage a{
    display: block;
    margin-top: 5px;
    width: 180px;
    text-align: right;
}
/* 底部版权 */
.copyright{
    padding-top: 20px;
    text-align: center;
    font-size: 12px;
}
.copyright a{
    color: #666;
}
.copyright a:hover{
    color: #f10215;
}
.copyright span{
    margin: 0 10px;
    color: #999;
}
.copyright div{
    margin-top: 20px;
}
.copyright div p{
    line-height: 22px;
}
.copyright div p a{
    color: #999;
}
.foot-icon a{
    display: inline-block;
    width: 103px;
    height: 33px;
    background: url("../img/foot-icon.png") no-repeat;
    margin: 20px 4px 20px;
}
.foot-icon a:nth-child(2){
    background: url("../img/foot-icon2.png") no-repeat;
}
.foot-icon a:nth-child(3){
    background: url("../img/foot-icon3.png") no-repeat;
}
.foot-icon a:nth-child(4){
    background: url("../img/foot-icon4.png") no-repeat;
}
.foot-icon a:nth-child(5){
    background: url("../img/foot-icon5.png") no-repeat;
}
.foot-icon a:nth-child(6){
    background: url("../img/foot-icon6.png") no-repeat;
}